<!doctype html>
<html>
    <head>
        <title>AirCards: A card game for AirDrop.</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">

            <h1>
                A simple URL-based question game for AirDrop.
            </h1>

            <form action="#" method="post">
                <p><input type="text" name="userInput" placeholder="Type the name of your device" class="input-field"/></p>
                <p><input type="submit" value="Continue" class="input-button"/></p>
            </form>

            <div class="flashes">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages%}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>


        </div>

        <script>
            function copyEvent(id)
            {
                var str = document.getElementById(id);
                window.getSelection().selectAllChildren(str);
                document.execCommand("Copy")
            }
        </script>

    </body>
</html>