<!doctype html>
<html>
    <head>
        <title>AirCards: A card game for AirDrop.</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">

            <a href="/">
                <img class="logo-header" src="{{ url_for('static', filename='airdrop-icon.svg') }}" alt="AirDrop"/>
            </a>
            
            <!-- source: https://icons8.com/icons/set/airdrop-logo -->

            <h1>
                Simple URL-based interactions via AirDrop.
            </h1>

            <div class="menu">
                <a class="input-button" href="/cards/">Card Game</a>
                <a class="input-button" href="/message/">Messages</a>
            </div>

        </div>

    </body>
</html>