<!doctype html>
<html>
    <head>
        <title>AirCards: Start</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">

            <h1>
                Great! <br>
                Now follow these steps:
            </h1>

            <h2 class="subheading">
                You got this question: <br>
                <span class="highlighted">{{question}}</span> <br>
                Now send it to someone!
            </h2>

            <ol class="instructions">
                <li>Copy this link: <span id="copy" onclick="copyEvent('copy')" class="copy-link highlighted">{{link}}</span></li>
                <li>Send it via <a target="_blank" href="https://support.apple.com/en-us/HT204144">AirDrop</a></li>
            </ol>

            <div class="postit">
                <p>Note: write down the name of your receiver's device, so you know who to contact again.</p>
            </div>

        </div>

        <script>
            function copyEvent(id)
            {
                var str = document.getElementById(id);
                window.getSelection().selectAllChildren(str);
                document.execCommand("Copy")
            }
        </script>

    </body>
</html>